$font-family: "Montserrat", sans-serif;

$main-color: #6DAFE5;
$txt-color: #262626;
$body-bg: #fff;

$box-shadow: 1px 15px 15px 1px rgb(0 0 0 / 4%);

$tablet-width: 1024px;
$mobile-width: 600px;
$phone-width: 480px;